@use '../utilities.scss' as u;

.dashboard {
    width: 75%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    color: black;
    // background-color: purple; 
    font-family: u.$mainFont;
}

.nav-bar {
    width: 90px;
    height: 100%;
    background-color: rgb(243, 243, 243);
    border-radius: 20px;
}

.dahsboard-container {
    flex-grow: 0.99;
    height: 100%;
    background-color: #C7C6FF;
    border-radius: 20px;
}

.logOut {
    width: 100px;
    height: 40px;
    margin: 0 30px 0 auto;
    border: none;
    background-color: rgb(255, 130, 130);
    border-radius: 10px;
    font-size: 1.15rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
        background-color: rgb(255, 97, 97)
    }
}