.user-dropdown {
    position: absolute;
    z-index: 1;
    text-align: center;
    top: 120%;
    width: 200px;
    height: 300px;
    border-radius: 5px;
    background-color: #acaaff;
    font-size: 1.2rem;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    & p {
        border-bottom: 1.5px solid white;
        margin: 0;
        padding-bottom: 10px;
    }

    & button {
        height: 30px;
        font-size: 1.3rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: background-color 0.2s ease;
        
        &:hover {
            background-color:#bfbeff; 
        }
    }
}