@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Inter&display=swap');

$titleFont: 'Days One', sans-serif;
$mainFont: 'Inter', sans-serif;

@mixin box-sizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

//reset anchor styling
.reset-a, .reset-a:hover, .reset-a:visited, .reset-a:focus, .reset-a:active  {
    text-decoration: none;
    color: inherit;
    outline: 0;
    cursor: pointer;
}

//horizontal line styling
.horizontal-line {
    overflow: hidden;
    text-align: center;
    font-size: 1.2rem;
}

.horizontal-line:before,
.horizontal-line:after {
  background-color: rgb(209, 209, 209);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.horizontal-line:before {
    right: 0.5em;
    margin-left: -50%;
  }
  
  .horizontal-line:after {
    left: 0.5em;
    margin-right: -50%;
  }

//Fade in

@keyframes fadein {
  from { opacity: 0; }
  to { opacity : 1; }
}

@mixin fadeIn {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}